.price__top {
  height: 50vh;
  background-image: url('../../assets/price-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%;
}

.price__item {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.price__item img{
  max-width: 600px;
  width: 100%;
}