@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');

body,
h1,
h3,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
}
